<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    integrity="sha256-ECB9bbROLGm8wOoEbHcHRxlHgzGqYpDtNTgDTyDz0wg=" crossorigin="anonymous" />
  <link rel="stylesheet" href="style.css" type="text/css">
  <title>Blog Project | Sign In</title>
</head>

<body>
  <nav id="nav-bar" class="container">
    <h3 class="logo u-pull-left">Blog Project</h3>
    <div class="u-pull-right">
      <a id="home-link" class="button" href="/">HOME</a>
      <a id="join-link" class="button button-primary" href="/join">JOIN</a>
    </div>
  </nav>

  <main class="container">
    <h4 class="m2-ta">SIGN IN</h4>

    <form id="sigin-in-container" class="container m2-ta">
      <div>
        <div>
          <input id="username" class="u-full-width" type="text" placeholder="USERNAME">
        </div>
        <div>
          <input id="password" class="u-full-width" type="password" placeholder="PASSWORD">
        </div>
      </div>
      <div>
        <button id="signin-btn" class="button-primary" type="submit">Sign In</button>
      </div>
    </form>

    <div class="m2-ta">
      <p>Forgot <a href="#">username</a> / <a href="#">password</a>?*</p>
      <p>*TDB - not yet setup</p>
    </div>
  </main>

  <script src="signin.js"></script>
</body>

</html>